:root {
    --clr-primary-soft-red: hsl(0, 94%, 66%);

    --clr-very-dark-gray: hsl(0, 0%, 17%);
    --clr-dark-gray: hsl(0, 0%, 59%);

    --ff: 'Rubik', sans-serif;

    --fs: 18px;

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
}
body,html {
    width: 100%;
    height: 100%;

    min-width: 375px;

    margin: 0;

    text-align: center;
}
body {
    color: white;

    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-400);
}
main {
    height: 100vh;
}
#top-part {
    height: 40%;

    background-image: url(images/pattern-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}
form {
    width: 90%;
    height: 75px;

    display: flex;

    margin-top: 2.5%;
}
input {
    width: 82.5%;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    border-width: 0;

    padding-left: 25px;

    cursor: pointer;
}
input::placeholder {
    color: var(--clr-dark-gray);
    
    font-size: 0.9rem;
    font-weight: var(--fw-500);
}
input:focus {
    outline: none;
} 
input:focus::placeholder {
    color: transparent;
}
#btn {
    width: 17.5%;

    background-color: black;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    border-width: 0;    

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
#btn:hover {
    background-color: var(--clr-very-dark-gray);
}
#result, #not-valid-data {
    position: absolute;

    z-index: 2;

    top: 100%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: black;

    background-color: white;

    width: 90%;

    max-width: 2000px;
    max-height: 315px;

    border-radius: 20px;
}
#not-valid-data {
    max-width: 340px;
}
ul {
    list-style-type: none;

    width: 100%;
    max-height: 315px;

    padding: 0;
    margin: 0;
}
li {
    margin: 0 10px;
}
li > p {
    color: var(--clr-dark-gray);

    font-size: 0.7rem;
    font-weight: var(--fw-700);

    margin: 10px 0;
}
#not-valid-data > p {
    color: var(--clr-primary-soft-red);
    font-size: 1.3rem;
}
#ip-address, #location, #timezone, #isp {
    color: black;

    font-size: 1.1rem;

    margin: 0 auto 7.5% auto; 
}
#isp {
    margin-bottom: 10px;
}
@media (width > 568px ) {
    #top-part {
        background-image: url(images/pattern-bg-desktop.png);
    }
    form {
        width: 60%;
        max-width: 1000px;
    }
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }
    .desktop-bar {
        display: block !important;

        width: 2px;
        height: 50px;

        margin: 5% 0 5% 0;

        background-color: var(--clr-dark-gray);
    }
    #ip-address, #location, #timezone, #isp {
        margin: 0;
    }
}
#map {
    position: relative;

    width: 100%;
    height: 60%;

    z-index: 1;
}
.leaflet-top {
    top: 85% !important
}
.leaflet-control {
    transform: translate(0, -50%);
}
.toggle-view-control {
    width: 75px;
}
.view-button {
    width: 100%;
    height: 30px;

    font-family: var(--ff);
    font-weight: var(--fw-400);

    padding: 0;

    color: var(--clr-dark-gray);
    background-color: white;

    border-radius: 0;
    border-width: 0; 

    box-shadow: 0 1px 2px var(--clr-dark-gray);

    opacity: 0.9;

    cursor: pointer;
}
.clicked {
    color: black;
}
.hide {
    display: none;
}   